@import 'normalize';
@import 'bold';
@import 'github-gist';

$primary: #795DA3;
$secondary: #3E4D4D;
$dark: #224142;
$bg: white;
$lt-gray: #F4F3F2;

/*
  Mixin to customize code scroll bars
 */
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

/*
  Base Body styles
 */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 400;
  background: $bg;
  line-height: 1.4rem
}

/*
  Stylize all headers
 */
h1,h2,h3,h4,h5,h6 {
  font-family: Prompt,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: $dark;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0
}

:focus {
  outline-color: transparent;
  outline-style: none
}

a {
  text-decoration: none;
  color: $primary;
  padding: 0 0 .2rem;
  font-weight: 700
}

a:hover {
  color: $primary
}

.container {
  padding: 0 1rem;
}

/*
  Floating Menu Component
 */
.menu-toggle {
  border-radius: 4px;
  box-shadow: 0 8px 15px rgba($dark, 0.17);
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  transition: 125ms;
  background: $dark;
  color: white;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;

  &:before {
    content: 'Menu'
  }

  &.menu-toggle-open {
    background: none;
    color: black;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    &:before {
      content: 'Close'
    }
  }
}

.menu {
  background: white;
  border-radius: 6px;
  box-shadow: 0 8px 15px rgba($dark, 0.17);
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 200px;
  padding: 1rem 1rem;
  // transform: translateX(200px);
  opacity: 0;
  transform: scale(0.5);
  transform-origin: 100% 0%;
  transition: 250ms;
  visibility: hidden;
  z-index: 999;

  &.menu-open {
    // transform: translateX(0);
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }

  .menu-list-item {
    padding: 0.25rem;
    position: relative;
    &:hover {
      color: lighten($primary, 10%);
    }
  }

  .menu-list-link {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }
}

/*
  Code Block Styles
 */
pre {
  overflow-x: auto;
  margin: 1.6em 0 1rem;
  font-size: .875em;
  white-space: pre;
  word-wrap: normal;
  max-height: 400px;
  overflow: auto;
  background: $lt-gray;
  box-shadow: 0 8px 15px rgba($dark, 0.17);

  @include scrollbars(0.5rem, $primary);

  .hljs {
    border: 1px solid $lt-gray;
  }
}

main {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
}

#page-hero {
  text-align: center;

  h1 {
    margin-bottom: 4px;
    font-size: 48px;
    color: $primary;
  }

  p {
    font-size: 16px;
    font-weight: lighter;
  }
}

.page-section {
  padding: 2rem 0;

  .section-header {
    margin-bottom: 2rem;
  }

  .section-title {
    color: $primary;
    letter-spacing: 0.15rem;
    text-transform: capitalize;
    margin-top: 0;
  }

  .section-description {
    color: $dark;
    margin-bottom: 0;
  }

  & + & {
    border-top: 1px solid $lt-gray;
  }
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  border: 1px solid $primary;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 11rem;
  padding: 0 4rem;
  border-radius: 4px;
  padding: 8px 4px;
  text-align: center;
  transition: background-color,.15s
}

.button:hover {
  background: lighten($primary, 5%);
  border-color: lighten($primary, 5%);
  color: white;
  text-shadow: 0 1px $primary;
}

.button:active {
  background: darken($primary, 10%);
  color: white;
}

.box,.box-first,.box-large,.box-nested,.box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  background: $secondary;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: white;
}

.box-row {
  margin-bottom: 1rem;
}

.box-first {
  background: darken($secondary, 10%);
}

.box-nested {
  background: darken($secondary, 20%);
}

.box-large {
  height: 8rem;
}

.box-fill {
  height: 100%;
}

.box-container {
  box-sizing: border-box;
  padding: .5rem;
}

.page-footer {
  box-sizing: border-box;
  padding-bottom: 3rem;
}

.invisible-xs {
  display: none;
  visibility: hidden;
}

.visible-xs {
  display: block;
  visibility: visible;
}

.section-code-example {
  margin: 1rem 0;

  h3 {
    font-family: monospace;
  }
}

.highlight {
  background: $primary;
  border-radius: 4px;
  color: white;
  padding: 0.5em;
}

@media only screen and (min-width: 48rem) {
  body {
    font-size:16px;
  }

  .slide-menu {
    width: 25%;
  }

  .page-section {
    padding: 4rem 0;
  }

  .open {
    transform: translate3d(0,0,0)
  }

  .hero-headline {
    font-size: 6rem;
    margin-bottom: 2rem
  }

  .hero-copy {
    font-size: 1.25rem;
    margin-bottom: 2rem
  }

  .box,.box-first,.box-large,.box-nested,.box-row {
    padding: 1rem
  }

  .invisible-md {
    display: none;
    visibility: hidden
  }

  .visible-md {
    display: block;
    visibility: visible
  }
}
