$grid-columns: 12;
$gutter-width: 1rem;
$half-gutter-width: calc(#{$gutter-width} / 2);
$gutter-compensation: calc(#{$gutter-width} / 2 * -1);
$outer-margin: calc(#{$gutter-width} * 2);

$sm-width: 48em;
$md-width: 64em;
$lg-width: 75em;
$xl-width: 84em;

$screens: (
  all: 0,
  sm: $sm-width,
  md: $md-width,
  lg: $lg-width,
  xl: $xl-width
);

$alignments: (
  justify-start: (
    justify-content: flex-start,
    text-align: start
  ),
  justify-center: (
    justify-content: center,
    text-align: center
  ),
  justify-end: (
    justify-content: flex-end,
    text-align: end
  ),
  align-top: (
    align-items: flex-start
  ),
  align-middle: (
    align-items: center
  ),
  align-bottom: (
    align-items: flex-end
  ),
  space-around: (
    justify-content: space-around
  ),
  space-between: (
    justify-content: space-between
  ),
  first: (
    order: -1
  ),
  last: (
    order: 1
  )
);