@import '_variables';
@import '_mixins';

.container-fluid, .container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: $outer-margin;
  padding-left: $outer-margin;
}

.container {
  max-width: $screen-sm;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.column {
  flex-direction: column;
}

.col.reverse {
  flex-direction: column-reverse;
}

[class*=col] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}

@each $screen, $width in $screens {
  @include grid($screen, $width) {
    $columnPrefix: '.col';
    $column: if($screen == all, $columnPrefix, #{$columnPrefix}-#{$screen});

    #{$column} {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }

    @for $i from 1 through $grid-columns {
      $col-width: percentage($i/$grid-columns);

      #{$column}-#{$i} {
        flex-basis: $col-width;
        max-width: $col-width;
      }

      @if $i < $grid-columns {
        #{$column}-offset-#{$i} {
          margin-left: $col-width;
        }
      }
    }

    @each $alignment, $classes in $alignments {
      $alignmentSuffix: if($screen == all, '', #{'-'}$screen);
      .#{$alignment}#{$alignmentSuffix} {
        @each $classKey, $classValue in $classes {
          #{$classKey}: #{$classValue}
        }
      }
    }
  }
}

