$spacings: (
  0: 0,
  xs: 8px,
  sm: 16px,
  md: 32px,
  lg: 42px,
  xl: 60px
);

$sides: (
  top: t,
  bottom: b,
  left: l,
  right: r
);

@each $size, $px in $spacings {
  .m-#{$size} {
    margin: #{$px} !important;
  }

  .p-#{$size} {
    padding: #{$px} !important;
  }
  
  @each $side, $name in $sides {
    .m-#{$name}-#{$size} {
      margin-#{$side}: #{$px} !important;
    }

    .p-#{$name}-#{$size} {
      padding-#{$side}: #{$px} !important;
    }
  }
}
