$grid-columns: 12 !default;
$gutter-width: 1rem !default;
$half-gutter-width: calc(#{$gutter-width} / 2) !default;
$gutter-compensation: calc(#{$gutter-width} / -2) !default;
$double-gutter-width: calc(#{$gutter-width} * 2) !default;

$container-max-width: 64em !default;

$screen-sm: 48em !default;
$screen-md: 64em !default;
$screen-lg: 75em !default;
$screen-xl: 84em !default;

$screens: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
) !default;

$columnPrefix: 'col' !default;
