$grid-columns: 12;
$gutter-width: 1rem;
$half-gutter-width: calc(#{$gutter-width} / 2);
$gutter-compensation: calc(#{$gutter-width} / -2);
$double-gutter-width: calc(#{$gutter-width} * 2);

$screen-sm: 48em;
$screen-md: 64em;
$screen-lg: 75em;
$screen-xl: 84em;

$screens: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);

$columnPrefix: 'col';